<Layout::Section::Header @title="API Keys" @searchQuery={{this.query}} @onSearch={{perform this.search}}>
    <div class="flex items-center mr-3">
        <Toggle @isToggled={{this.isTestMode}} @onToggle={{this.toggleTestMode}} @label="View test data" @helpText="Toggling view test data will enable the console to display all test data from your sandbox environment." class="mr-1" />
        {{#if this.isTestMode}}
            <span class="ml-2">
                <select class="form-select form-input-sm" aria-label="Select API Key" {{on "change" this.toggleTestKey}}>
                    <option selected disabled>
                        Select specific key
                    </option>
                    <option value="null" selected={{eq this.testKey null}}>
                        All test data...
                    </option>
                    {{#each (filter-by 'isTestKey' @model) as |key|}}
                        <option value={{key.id}} selected={{eq this.testKey key.id}}>
                            {{or key.name key.key}}
                        </option>
                    {{/each}}
                </select>
            </span>
        {{/if}}
    </div>
    {{#if (safe-has this.table "selectedRows")}}
        <DropdownButton @icon="layer-group" @text="Bulk Action" @type="magic" @size="sm" @buttonWrapperClass="mr-2" @contentClass="dropdown-menu" as |dd|>
            <div class="next-dd-menu mt-2 mx-0">
                <div class="px-1">
                    <a href="#" class="text-red-500 next-dd-item" {{on "click" (dropdown-fn dd this.bulkDeleteApiCredentials)}}>
                        Delete API Credentials
                    </a>
                </div>
            </div>
        </DropdownButton>
    {{/if}}
    <Button @type="primary" @icon="plus" @iconPrefix="fas" @text="New" class="mr-2" @onClick={{this.createApiKey}} />
    <Button @icon="long-arrow-up" @iconClass="rotate-icon-45" @text="Export" @onClick={{this.exportApiKeys}} />
</Layout::Section::Header>

<Layout::Section::Body>
    <Table @rows={{@model}} @columns={{this.columns}} @selectable={{true}} @canSelectAll={{true}} @onSetup={{fn (mut this.table)}} @pagination={{true}} @paginationMeta={{@model.meta}} @page={{this.page}} @onPageChange={{fn (mut this.page)}} @tfootVerticalOffset="53" @tfootVerticalOffsetElements=".next-view-section-subheader" />
</Layout::Section::Body>