<div class="content-panel bg-gray-300 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700" ...attributes>
    <div class="content-panel-body no-y-padding">
        <div class="flex items-center text-sm dark:text-gray-100">
            <div class="px-6 py-3 pl-0 mr-3">
                <div class="mb-1">
                    {{t "developers.common.status"}}
                </div>
                <Badge @status={{@webhook.status}} />
            </div>
            <div class="px-6 py-3 mr-3">
                <div class="mb-1">
                    {{t "developers.common.mode"}}
                </div>
                <Badge @status={{@webhook.mode}} />
            </div>
            <div class="px-6 py-3 mr-3">
                <div class="mb-1">
                    {{t "developers.common.version"}}
                </div>
                <div>
                    {{n-a @webhook.version}}
                </div>
            </div>
            <div class="px-6 py-3">
                <div class="mb-1">
                    {{t "developers.component.webhook.metrics.date-created"}}
                </div>
                <div>
                    {{@webhook.createdAt}}
                </div>
            </div>
        </div>
    </div>
</div>