<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}} as |options|>
    <div class="modal-body-container">
        <InputGroup
            @name={{t "developers.component.modals.listen-custom-channel.name"}}
            @value={{@options.channelId}}
            @helpText={{t "developers.component.modals.listen-custom-channel.name-help-text"}}
        />
    </div>
</Modal::Default>