<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}} as |options|>
    <div class="modal-body-container">
        <InputGroup @name={{t "developers.components.modals.listen-custom-channel.name"}} @value={{@options.channelId}} @helpText={{t "developers.components.modals.listen-custom-channel.helpText"}} />
    </div>
</Modal::Default>