<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}} as |options|>
    <div class="px-4 mb-10">
        <div class="flex">
            <div class="w-1/4">
                <span class="font-semibold dark:text-gray-100">
                    Key
                </span>
            </div>
            <div class="w-3/4">
                <div class="mb-2 dark:text-gray-100">
                    {{@options.apiKey.key}}
                </div>
                <Button @text="View logs" @size="xs" @icon="arrow-right" @onClick={{fn @options.viewRequestLogs @options.apiKey}} />
            </div>
        </div>
    </div>

    <div class="px-4 mb-10">
        <div class="flex">
            <div class="w-1/4">
                <span class="font-semibold dark:text-gray-100">
                    Last used
                </span>
            </div>
            <div class="w-3/4 dark:text-gray-100">
                {{@options.apiKey.lastUsed}}
            </div>
        </div>
    </div>

    <div class="px-4 mb-10">
        <div class="flex">
            <div class="w-1/4">
                <span class="font-semibold dark:text-gray-100">
                    Expiration
                </span>
            </div>
            <div class="w-3/4">
                <select class="w-full mb-2 form-select form-input-sm" aria-label="API Key Expiration" {{on "change" @options.setExpiration}}>
                    <option selected disabled>
                        Select an expiration date...
                    </option>
                    {{#each @options.expirationOptions as |opt|}}
                        <option value={{opt}}>
                            {{opt}}
                        </option>
                    {{/each}}
                </select>
                <p class="dark:text-gray-100">
                    Once this key expires, you can't perform any actions with it.
                </p>
            </div>
        </div>
    </div>

    <div class="px-5 py-4 border-t border-gray-200 dark:border-gray-800">
        <div class="mt-2 mb-7">
            <div class="font-semibold dark:text-gray-100">
                Additional authentication required
            </div>
            <p class="dark:text-white">
                To continue, please enter your password.
            </p>
        </div>

        <div class="input-group">
            <label>
                Email
            </label>
            <Input @type="email" @value={{@options.user.email}} aria-label="User Email" class="w-full form-input" disabled="true" />
        </div>

        <div class="input-group">
            <label>
                Password
            </label>
            <Input @type="password" @value={{@options.password}} aria-label="User Password" placeholder="Authenticate request using your password" class="w-full form-input" />
        </div>
    </div>
</Modal::Default>