<ContentPanel @title={{t "developers.component.api-request-log.query-params.title"}} @open={{true}} @wrapperClass="bordered-top" @panelBodyWrapperClass="p-0i">
    {{#if @apiRequest.query_params}}
        <CodeBlock @code={{or (json-stringify @apiRequest.query_params) ""}} @language="json" class="line-numbers" />
    {{else}}
        <div class="flex items-center justify-center h-24">
            <span class="text-sm text-gray-400">
                {{t "developers.component.api-request-log.query-params.no-parameters"}}
            </span>
        </div>
    {{/if}}
</ContentPanel>