<ContentPanel @title={{t "developers.component.api-request-log.request-headers.title"}} @open={{true}} @wrapperClass="bordered-top" @panelBodyWrapperClass="p-0i">
    {{#if @apiRequest.request_headers}}
        <CodeBlock @code={{or (json-stringify @apiRequest.request_headers) ""}} @language="json" class="line-numbers" />
    {{else}}
        <div class="flex items-center justify-center h-24">
            <span class="text-sm text-gray-400">
                {{t "developers.component.api-request-log.request-headers.no-headers"}}
            </span>
        </div>
    {{/if}}
</ContentPanel>