<ContentPanel
    @title={{concat (t "developers.component.api-request-log.request-body.title") @apiRequest.method (t "developers.component.api-request-log.request-body.title-second-part")}}
    @open={{true}}
    @wrapperClass="bordered-top"
    @panelBodyWrapperClass="p-0i"
>
    {{#if @apiRequest.request_body}}
        <CodeBlock @code={{or (json-stringify @apiRequest.request_body) ""}} @language="json" class="line-numbers" />
    {{else}}
        <div class="flex items-center justify-center h-24">
            <span class="text-sm text-gray-400">
                {{t "developers.component.api-request-log.request-body.no-request-body" htmlSafe=true method=@apiRequest.method}}
            </span>
        </div>
    {{/if}}
</ContentPanel>